.feedHeader{
    /* margin-top: 25px; */
    padding: 1.5rem 1rem 0.6rem 1rem;  
    border-bottom: 1px solid #111827;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.feedHeader > p{
    /* letter-spacing: 0.8px; */
    font-size: small;
    color: #dfe2e8;
}