.feed{
    display: flex;
    flex-direction: row;
    width:92%;
    height: 100vh;
}

.feed__reddit{
    background-color:#1F2937;
    width: 350px;  
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left:10px;
}

.feed__dev{
    background-color:#1F2937;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left:10px;
}

.feed__redditI{
    background-color:#1F2937;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left:10px;
}