.postCard{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #111827;
}

.postCard__heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postCard__heading >p{
    font-size: small;
}

.postCard__subText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.postCard__subText > h5{
    margin:10px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.postCard__subText > p{
    display: flex;
    flex-direction: row;
    font-size: small;
}

.postCard__subText > p > .MuiSvgIcon-root{
    font-size:medium;
    color: #FFCC13;
}
