.sideBar{
    background-color:#1F2937;
    width:8vw;
    height: 100vh;
    padding: 0 1rem;  
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.sideBar__logo{
    padding:0.8rem 0;  
    margin-bottom: 20px;
}

.sideBar__logo > h3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sideBar__logo > h3 > img{
    height: 40%;
    width: 40%;
    object-fit: contain;
}

.sideBar__postButton{
  background-color: #FFCB12;
  border: 1px solid #FFCB12;
  padding: 5px;
  border-radius: 100px;
  color: white;
  font-weight: 200;
  margin-bottom: 20px;  
}

.sideBar__logo > h3{
    color: white !important;
    letter-spacing: 0.8px;

}

.sideBar__categoryButtons{
    display: flex;
    flex-direction: column;
}

.sideBar__categoryButtons > button{
    margin: 15px 0;
    padding: 5px 0;
    font-size: x-small;
    font-weight: 600;
}
