.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:8%;
    height: 100%;

    background-color:#1f2937;
    padding: 0 1rem;  
}  

.sideBar__logo{
    padding: 0.99rem 1rem 0rem 1rem;
    margin-bottom: 20px;
    width: inherit;
}

.sideBar__logo > h4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white !important;
    letter-spacing: 0.8px;
}

.sideBar__logo > h4 > img{
    height: 500%;
    width: 500%;
    object-fit: contain;
}



.MuiPaper-root{
    background-color: #1F2937 !important;
}

 .MuiTypography-root{
    color: white;
    text-align: center;
    padding:15px 0 0 0;
}

.sideBar__postButton{
    background-color: #FFCB12;
    border: 1px solid #FFCB12;
    padding: 5px;
    border-radius: 100px;
    color: white;
    font-weight: 200;
    /* margin-bottom: 20px;   */
  }
  
  .sideBar__postPopOver{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 200px;
      height: 100px;
      padding: 10px;
      background-color: #1F2937;
  }

  .sideBar__postPopOver > a{
    color:white;
    text-decoration: none;
    text-align: center;
  }

  .sideBar__postPopOver > a:hover{
    text-decoration: underline;
  }

  .sideBar__postPopOver > a > P{
      font-size: small;
  }

  .sideBar__postPopOver > a > img{
      width: 70%;
      height: 70%;
      object-fit: contain;
  }

.sideBar__categoryButtons{
    display: flex;
    flex-direction: column;
}

.sideBar__categoryButtons > button{
    margin: 15px 0;
    padding: 5px 0;
    font-size: x-small;
    font-weight: 600;
}
